<!-- First Container information card -->
<div class="home-bg" id="white-con">
    <div class="container" id="first-con">
        <div id="box1">
            <div id="first-span">

                <span id="second-span">Hello, I'm Vivek Rajpoot,</span>
                <span id="yellow-span"> Data Analyst</span>
                <br>
                <br>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, ex! Enim quae illo
                    similique sunt dolorem
                    iste libero quod magnam qui. Perferendis voluptatibus rem exercitationem voluptatum necessitatibus
                    animi
                    qui
                    facere. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, tempora porro! Aliquid,
                    minus
                    consectetur pariatur incidunt repellat cumque temporibus, deserunt provident quas commodi impedit
                    atque,
                    tempore aut! Perferendis, id minima.
                </span>
                <br>
                <br>

                <button class="rounded-gredient"> About Me..</button>
                      
            </div>
            <!-- profile photo -------------- -->
            <img id="third-span" [src]="img0" alt="">

        </div>
      <!-- media bar  -->
      <div class="media">
        <img height="60px" [src]="tele" alt="Telegram">
        <img height="60px" [src]="twitter" alt="twitter">
        <img height="60px" [src]="whatsapp" alt="whatsapp">
        <img height="60px" [src]="whatsapp" alt="facebook">
        <img height="60px" [src]="whatsapp" alt="linkedIn">
    </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------- -->

</div>


<!-- ---------------------------------------------------------------------------------------- -->
<!-- second container -->

<!-- ----------------------------------------------------------------------------------------- -->